@{
    ViewBag.Title = "Contact";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
    </div>
    <div class="panel-body">
        <address>
            betahaus | GmbH & Co. KG<br/>
            prinzessinnenstr. 19<br/>
            10969 berlin<br/>
            Deutschland<br/>
        </address>
    </div>
</div>