@{
    ViewBag.Title = "GWAB Berlin";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Agenda</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th width="110">Zeit</th>
                    <th width="250">Session</th>
                    <th>Abstract</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09:00 - 09:30</td>
                    <td colspan="2">Registrierung</td>
                </tr>
                <tr>
                    <td>09:30 - 09:45</td>
                    <td>Willkommen</td>
                    <td>Organisatoren</td>
                </tr>
                <tr>
                    <td>09:45 - 10:30</td>
                    <td>
                        <h4>Claims, Tokens & Azure Active Directory B2C</h4>
                        Anton Staykov
                    </td>
                    <td>Bei Azure Active Directory B2C handelt es sich um eine umfassende Lösung zur
                        Cloudidentitätsverwaltung für kundenorientierte Web- und Mobilanwendungen.
                        Es ist ein hochverfügbarer globaler Dienst, der für Hunderte von Millionen
                        von Kundenidentitäten skaliert werden kann. Azure Active Directory B2C basiert
                        auf einer sicheren Plattform der Unternehmensklasse und schützt Ihre Anwendungen,
                        Ihr Unternehmen und Ihre Kunden.
                        <br />
                        Bevor wir tief im Azure AD B2C reinspringen, müssen wir erst die Basis schaffen -
                        claims, tokens, authentifizierungs- und Authorizierungsprotokolle.</td>
                </tr>
                <tr>
                    <td>10:45 - 11:30</td>
                    <td>
                        <h4>Azure Security Center</h4>
                        Anton Staykov
                    </td>
                    <td>Monitor, Alert, Mitigate! <br />
                        Security Center unterstützt Sie beim Vorbeugen, Erkennen und Beheben von Bedrohungen.
                        Mit dieser Cloudlösung gewinnen Sie mehr Transparenz und bessere Kontrolle über die Sicherheit
                        Ihrer Azure-Ressourcen.
                        Es bietet integrierte Sicherheitsüberwachung und Richtlinienverwaltung für
                        Ihre Azure-Abonnements, hilft bei der Erkennung von Bedrohungen,
                        die andernfalls möglicherweise unbemerkt bleiben, und kann gemeinsam mit einem
                        breiten Spektrum an Sicherheitslösungen verwendet werden.</td>
                </tr>
                <tr>
                    <td>11:45 - 12:30</td>
                    <td>
                        <h4>Integration as a Service</h4>
                        Anton Staykov
                    </td>
                    <td>Logik-Apps ermöglichen die Vereinfachung und die Implementierung skalierbarer Integrationen und Workflows in die Cloud. 
                    Es wird ein visueller Designer bereitgestellt, mit dem Sie Ihre Prozesse in Form von Schritten (als Workflow bezeichnet) 
                    modellieren und automatisieren können.<br /> 
                    In der Cloud und der lokalen Umgebung sind viele Connectors zur schnellen Integration für Dienste und Protokolle enthalten. 
                    Eine Logik-App beginnt mit einem Trigger (z.B. „Wenn Dynamics CRM ein Konto hinzugefügt wird“), 
                    und nach der Auslösung sind viele verschiedene Kombinationen von Aktionen, 
                    Konvertierungen und Bedingungslogikabläufen möglich.<br />
                    Wir werden einen Überblick über real-world IoT Beispiel mit Logic Apps geben.
                    </td>
                </tr>
                <tr>
                    <td>12:30 - 13:30</td>
                    <td colspan="2">Mittag</td>
                </tr>
                <tr>
                    <td>13:30 - 14:15</td>
                    <td>
                        <h4>Advanced Analytics with Microsoft Power BI</h4>
                        Maik Schwill
                    </td>
                    <td>
                        <p>Power BI ist eine Zusammenstellung von Tools zum Analysieren von Geschäftsdaten und Teilen von Erkenntnissen. Power BI-Dashboards bieten Benutzern in Unternehmen einen allumfassenden zentralen Überblick über ihre wichtigsten Metriken, die in Echtzeit aktualisiert werden und auf allen ihren Geräten verfügbar sind. Mit einem Klick können Benutzer die Daten hinter ihrem Dashboard mithilfe intuitiver Tools untersuchen, um mühelos Antworten zu finden. Dank über 50 Verbindungen mit beliebten Geschäftsanwendungen ist das Erstellen eines Dashboards eine einfache Aufgabe. Und mithilfe der von Experten entwickelten vordefinierten Dashboards können Sie rasch loslegen. Über die mobilen Power BI-Apps können Sie von überall auf Ihre Daten und Berichte zugreifen, die automatisch aktualisiert werden, sobald sich Ihre Daten ändern.</p>
                        <p>Wenn Sie als Datenanalyst Ihrem Unternehmen Berichte und Analysen bereitstellen, ermöglicht Ihnen Power BI ein produktives und kreatives Arbeiten. Power BI Desktop ist Tool mit vielen Funktionen zum Erstellen von Mashups und Berichten. Kombinieren Sie Daten aus verschiedenen Datenbanken, Dateien und Webdiensten mit visuellen Tools, mit deren Hilfe Sie Probleme bei der Datenqualität und -formatierung verstehen und automatisch beheben können. Erstellen Sie mithilfe der über 20 integrierten visuellen Elemente und einer lebhaften Community, die benutzerdefinierte Visualisierungen bereitstellt, aussagekräftige Berichte, die Ihre Botschaft nachdrücklich vermitteln. Veröffentlichen Sie mit dem Power BI-Dienst Berichte sicher in Ihrer Organisation, und richten Sie eine automatische Datenaktualisierung ein, damit alle Beteiligten über die neuesten Informationen verfügen.</p>
                        <p>Mit Power BI können Sie sämtliche Daten Ihrer Organisation, ob lokal oder in der Cloud, vereinigen. Über die Power BI-Gateways können Sie SQL Server-Datenbanken, Analysis Services-Modelle und viele weitere Datenquellen mit Ihren Dashboards in Power BI verbinden. Wenn Sie bereits über Portale oder Anwendungen für die Berichterstellung verfügen, können Sie Power BI-Berichte und -Dashboards zum Vereinheitlichten der Umgebung einbetten.</p>
                    </td>
                </tr>
                <tr>
                    <td>14:30 - 15:15</td>
                    <td>
                        <h4>TBD</h4>
                        TBD
                    </td>
                    <td>TBD</td>
                </tr>
                <tr>
                    <td>15:30 - 16:15</td>
                    <td>
                        <h4>TBD</h4>
                        TBD
                    </td>
                    <td>TBD</td>
                </tr>
                <tr>
                    <td>16:15 - 16:30</td>
                    <td>Abschluss</td>
                    <td>Organisatoren</td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>