@{
    ViewBag.Title = "GWAB Berlin";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Agenda</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Zeit</th>
                    <th>Session</th>
                    <th>Speaker</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:30 - 09:00</td>
                    <td colspan="2">Registrierung und Kaffee</td>
                </tr>
                <tr>
                    <td>09:00 - 09:15</td>
                    <td>Willkommen</td>
                    <td>Organisatoren</td>
                </tr>
                <tr>
                    <td>09:15 - 10:15</td>
                    <td>
                        <h4>Übersicht - Wo steht Azure heute?</h4>
                        Microsoft Azure hat sich im letzten Jahr stark weiter entwickelt. Neue Services kamen hinzu und alte wurde aktualisiert. 
                        In dieser Session gucken wir uns an welche Features Azure heute bereitstellt, angefangen von einfachen Websites, 
                        über neue Speichermöglichkeiten wie DocumentDB, bis hin zur Hadoop-Unterstützung mit HDInsight.
                    </td>
                    <td>Jan Hentschel</td>
                </tr>
                <tr>
                    <td>10:15 - 11:15</td>
                    <td>
                        <h4>Azure Site Recovery</h4>
                        In der Session Microsoft Azure Site Recovery soll euch ein Überblick über die Nutzung und Möglichkeiten des Produktes gegeben werden.
                        Neben einigen Erklärungen, Szenarien und Informationen, ist auch eine kurz Livedemo geplant.
                    </td>
                    <td>Florian Kaffenbach</td>
                </tr>
                <tr>
                    <td>11:15 - 12:15</td>
                    <td>
                        <h4>HDInsight = Hadoop + Azure</h4>
                        Hadoop ist die Basis einer jeden unternehmensgetriebenen BigData-Inivitaitve. 
                        Microsoft Azure bietet mit HDInsight die Möglichkeit, Hadoop in der Cloud zu 
                        betreiben. In dieser Session wird ein einfaches MapReduce-Programm entwickelt 
                        und anschließend in HDInsight deployt.
                    </td>
                    <td>Dr. Robert Neumann</td>
                </tr>
                <tr>
                    <td>12:15 - 13:15</td>
                    <td colspan="2">Mittag</td>
                </tr>
                <tr>
                    <td>13:15 - 14:15</td>
                    <td>
                        <h4>Einführung in Azure DocumentDB</h4>
                        Azure DocumentDB ist die neuste Speichervariante im NoSQL-Bereich auf Azure. In dieser Session gucken wir uns an, 
                        welche Features es beinhaltet, wie es sich zu anderen Speicherlösungen abgrenzt und in welchen Situationen sich DocumentDB nutzen lässt.
                    </td>
                    <td>Jan Hentschel</td>
                </tr>
                <tr>
                    <td>14:15 - 15:15</td>
                    <td>
                        <h4>Azure Web Sites</h4>
                        Today it is super easy to build a Web Site – open Visual Studio -> File -> New Project -> Web -> done. But then come the questions: Where to host it? How to deploy it? Can I integrate (and automate deployments) with my own Version Control System? What if something breaks – can I quickly rollback a deployment? By the way, I want staging environment. No, wait, I need UAT too! Oh, I want to deliver this super cool new feature, but it is in Beta – I don’t want all users to see it – let’s divide them 50/50! And this error, that only comes when deployed – how to debug it?
                        In this session we will answer all these questions, and probably more! Still don’t have an Azure Web Site – play with one for an hour, it doesn’t require you to have Azure Subscription: https://trywebsites.azurewebsites.net/
                    </td>
                    <td>Anton Staykov</td>
                </tr>
                <tr>
                    <td>15:15 - 15:45</td>
                    <td colspan="2">Kaffee</td>
                </tr>
                <tr>
                    <td>15:45 - 16:45</td>
                    <td>
                        <h4>Predictive Analytics mit Azure Machine Learning Studio</h4>
                        Predictive Analytics zielt auf die Entwicklung von Vorhersagemodellen für den 
                        Einsatz in Unternehmen ab. Azure Machine Learning Studio bietet eine 
                        interaktive und Cloud-basierte Möglichkeit, auf Grundlage großer Datenmengen 
                        Vorhersagemodelle zu entwickeln, diese mit Kollegen oder Kunden zu teilen 
                        und gar auf einem Marktplatz zu vermarkten.
                    </td>
                    <td>Dr. Robert Neumann</td>
                </tr>
                <tr>
                    <td>16:45 - 17:00</td>
                    <td>Abschluss</td>
                    <td>Organisatoren</td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>