@{
    ViewBag.Title = "Venue";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Venue</h3>
    </div>
    <div class="panel-body">
        <address>
            <a href="https://www.microsoftaccelerator.com/locations/berlin">Microsoft Accelerator Berlin</a> <br />
            Raum: Microsoft Accelerator<br />
            Unter den Linden 17 (Eingang Charlottenstraﬂe)<br />
            10117 Berlin<br />
        </address>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
    </div>
    <div class="panel-body">
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <div style="overflow:hidden;height:500px;width:600px;"><div id="gmap_canvas" style="height:500px;width:600px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://wptiger.com/wordpress-hosting/" id="get-map-data">wptiger.com</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(52.5026083,13.41221680000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(52.5026083, 13.41221680000001)});infowindow = new google.maps.InfoWindow({content:"<b>Microsoft Accelerator Berlin</b><br/>Unter den Linden 17<br/>10117 Berlin" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
</div>
