@{
    ViewBag.Title = "Venue";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Venue</h3>
    </div>
    <div class="panel-body">
        <address>
            <a href="http://www.betahaus.com/berlin/">Betahaus Berlin</a> <br />
            Raum: Betahaus Loft <br />
            Prinzessinnenstraße 19-20<br />
            10969 Berlin<br />
        </address>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
    </div>
    <div class="panel-body">
        
    </div>
</div>
