@{
    ViewBag.Title = "Venue";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Venue</h3>
    </div>
    <div class="panel-body">
        <address>
            <a href="https://www.microsoftaccelerator.com/locations/berlin">Microsoft Accelerator Berlin</a> <br />
            Raum: Microsoft Accelerator<br />
            Unter den Linden 17 (Eingang Charlottenstraße)<br />
            10117 Berlin<br />
        </address>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
    </div>
    <div class="panel-body">
        <div><iframe width="500" height="400" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=52.516810~13.390480&amp;lvl=17&amp;w=500&amp;h=400&amp;sty=h&amp;typ=d&amp;pp=Unter%20den%20Linden%2017%2C%2010117%20Berlin~~52.516810~13.390480&amp;ps=&amp;dir=0&amp;mkt=de-de&amp;form=BMEMJS"></iframe><div style="margin: 12px 0 0 0;"><a target="_blank" href="http://www.bing.com/maps/?cp=52.516810~13.390480&amp;sty=h&amp;lvl=17&amp;sp=point.52.516810_13.390480_Unter%20den%20Linden%2017%2C%2010117%20Berlin_&amp;mm_embed=map">Größere Karte anzeigen</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=srkhnbj3g8kc&amp;sty=b&amp;lvl=18&amp;sp=point.52.516810_13.390480_Unter%20den%20Linden%2017%2C%2010117%20Berlin_&amp;mm_embed=be">Vogelperspektive anzeigen</a></div></div>
    </div>
</div>
