@{
    ViewBag.Title = "Speakers";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Anton Staykov</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded img-responsive"
                     src="~/Content/img/astaykov.jpg" alt="Anton Staykov">
            </div>
            <div class="col-md-10">
                <p>
                    Anton has more than 13 years of professional IT experience.
                    He works with Microsoft Azure since October 2008 when it was first announced and holds
                    Microsoft MVP reward in the field of Azure since April’2011.
                </p>
                <p>
                    Currently serving as a Solutions Architect for  Smarthouse Media GmbH, leader on the German software market
                    delivering oslutions for the Financial Industry.
                </p>
                <p>
                    Anton is always happy to talk about Cloud.  You can reach him at
                    <a href="https://twitter.com/astaykov">@@astaykov</a> and under
                    <a href="http://blogs.staykov.net/">http://blogs.staykov.net/</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Florian Klaffenbach</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded img-responsive"
                     src="~/Content/img/florian.jpg" alt="Florian Kaffenbach">
            </div>
            <div class="col-md-10">
                <p>
                    Florian Klaffenbach ist IT-Architekt aus Berlin. In den letzten Jahre hat er sich bei diversen Unternehmen verdingt.
                    Dazu gehört Dell, wo er als Datacenter Analyst und Evangelist tätig war.
                    Aktuell arbeitet er als Consultant für Elanity Network Partner GmbH und ist als Architekt in Projekten von MSG Services aktiv.
                    Zu seinen Spezialgebieten gehört Hyper-V, Scale out Fileserver, System Center Virtual Machine Manager, Azure IaaS sowie Storage-, Netzwerk- und
                    Serverinfrastruktur Planung.
                </p>
                <p>
                    Er leitet neben seinen Aktivitäten als Blogger auch die Windows Server User Group Berlin.
                </p>
                <p>
                    <a href="https://www.xing.com/profile/Florian_Klaffenbach">Xing</a>,
                    <a href="http://datacenter-flo.de/">Blog private</a>, 
                    <a href="https://www.winsvr-berlin.de/">Blog WSUGB</a>, 
                    <a href="https://twitter.com/FloKlaffenbach">Twitter</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Dr. Robert Neumann</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded img-responsive"
                     src="~/Content/img/robert.jpg" alt="Robert Neumann">
            </div>
            <div class="col-md-10">
                <p>
                    Dr. Robert Neumann hat einen PhD in der Entwicklung verteilter Systeme von der Ott-von-Guericke-Universität Magdeburg. 
                    Er ist der Gründer und CEO der Ultra Tendency und früherer Microsoft-Mitarbeiter.
                </p>
                <p>
                <p>
                    <a href="http://ultratendency.com/">Homepage</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Jan Hentschel</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded img-responsive"
                     src="~/Content/img/jan.jpg" alt="Jan Hentschel">
            </div>
            <div class="col-md-10">
                <p>
                    Jan Hentschel ist der Senior Software Development Lead der Ultra Tendency. 
                    Er ist Microsoft Azure MVP und Microsoft Certified Trainer mit einem Fokus auf Erstellung von Enterprise-Anwendungen aufbauend auf Microsoft-Technologien.
                </p>
                <p>
                <p>
                    <a href="http://ultratendency.com/">Homepage</a>, 
                    <a href="http://janatdevelopment.com/">Blog</a>, 
                    <a href="https://twitter.com/Horizon_Net">@@Horizon_Net</a>
                </p>
            </div>
        </div>

    </div>
</div>