@{
    ViewBag.Title = "Speakers";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Anton Staykov</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded img-responsive"
                     src="~/Content/img/astaykov.jpg" alt="Anton Staykov">
            </div>
            <div class="col-md-10">
                <p>
                    Anton has more than 15 years of professional IT experience.
                    He works with Microsoft Azure since October 2008 when it was first announced. 
                    An ex. Microsoft MVP (2011 - 2015) currently works as Cloud Solutions Architect by
                    Microsoft to help customers overcome the fear of the cloud.
                </p>
                <p>
                    Anton is always happy to talk about Cloud.  You can reach him at
                    <a href="https://twitter.com/astaykov">@@astaykov</a> and under
                    <a href="http://dayzure.com/">http://dayzure.com/</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Maik Schwill</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded img-responsive"
                     src="~/Content/img/MaikSchwill.jpg" alt="Maik Schwill">
            </div>
            <div class="col-md-10">
                <p>
                    Wissenschaft ist nur die eine Hälfte, Glauben die andere.
                </p>
                <p>
                    <a href="https://twitter.com/schwill_maik">@@schwill_maik</a>
                    <br />
                    <a href="https://www.xing.com/profile/Maik_Schwill">https://www.xing.com/profile/Maik_Schwill</a>
                </p>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Marcos Freccia</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <img class="img-rounded img-responsive"
                     src="~/Content/img/MarcosFreccia.png" alt="Marcos Freccia">
            </div>
            <div class="col-md-10">
                <p>
                    Currently working as a Microsoft SQL Server DBA at Zalando SE, Marcos has over 6 years of Database experience working from small to enterprise environments with High Availability, Disaster Recovery, Database Optimization, etc.. Holding several Microsoft certifications such as: MCITP DBA & DEV, MCSE Data Platform and his last certification on Microsoft Azure Design and Implement Cloud Data Platform Solutions. In 2013 Marcos was awarded as a Microsoft MVP by his contributions in the Brazilian SQL Server community.
                </p>
                <p>
                    <a href="https://twitter.com/sqlfreccia">@@sqlfreccia</a>
                    <br />
                    <a href="https://www.linkedin.com/in/marcosfreccia/">https://www.linkedin.com/in/marcosfreccia/</a>
                </p>
            </div>
        </div>

    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Thiago Lunardi</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-10">
                <p>
                    Thiago Lunardi, Microsoft Azure MVP since 2015, is Lead Software Architect at Kapilendo AG and consultant advisor in webapp migration to cloud. Also IoT enthusiast, xbox gamer, friend, husband and father.
                </p>
                <p>
                    <a href="https://twitter.com/thiagolunardi13">@@thiagolunardi13</a>
                    <br />
                    <a href="https://linkedin.com/in/thiagolunardi">https://linkedin.com/in/thiagolunardi</a>
                </p>
            </div>
        </div>

    </div>
</div>

